
@{
    ViewBag.Title = "Regstration_S1";
}

<section class="h-100 bg-dark">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center sa_align-items-center h-100">
            <div class="col">
                <div class="card card-registration my-4">
                    <div class="row g-0">
                        <div class="col-xl-6 d-none d-xl-block">
                            <img src="~/Img/page_B/img_01.png"
                                 alt="Sample photo" class="img-fluid"
                                 style="border-top-left-radius: .25rem; border-bottom-left-radius: .25rem;height: 100%;padding:20px;" />
                        </div>
                        <div class="col-xl-6">
                            <center>
                                <img class="img-fluid" src="~/Img/title_logo.png" style="height: 150px; width: 160px; padding: 20px;">
                                <h2> Admin Registration 1/2</h2>
                            </center>

                            <div class="card-body p-md-5 text-black">
                                <form action="" method="post" enctype="multipart/form-data">
                                    <div class="row">
                                        <div class="col-md-6 mb-4">
                                            <div class="form-outline">
                                                <label class="form-label" for="form3Example1m">First name:</label>
                                                <span class="text-danger">@Html.ValidationMessage("FirstName")</span>
                                                <input type="text" name="FirstName" value="@(Model!=null? Model.FirstName:"")" placeholder="First name" id="form3Example1m" class="form-control" />
                                            </div>
                                        </div>

                                        <div class="col-md-6 mb-4">
                                            <div class="form-outline">
                                                <label class="form-label" for="form3Example1n">Last name:</label>
                                                <span class="text-danger">@Html.ValidationMessage("LastName")</span>
                                                <input type="text" name="LastName" value="@(Model!=null? Model.LastName:"")" placeholder="Last name" id="form3Example1n" class="form-control" />
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-outline mb-4">
                                        <label class="form-label" for="form3Example8">Email:</label>
                                        <span class="text-danger">@Html.ValidationMessage("Email")</span>
                                        <input type="text" name="Email" value="@(Model!=null? Model.Email:"")" placeholder="example@bepartner.com" id="form3Example8" class="form-control" />
                                    </div>

                                    <div class="form-outline mb-4">
                                        <label class="form-label" for="form3Example8">Phone:</label>
                                        <span class="text-danger">@Html.ValidationMessage("Phone")</span>
                                        <input type="text" name="Phone" value="@(Model!=null? Model.Phone:"")" placeholder="01772994093" id="form3Example8" class="form-control" />
                                    </div>

                                    <div class="d-md-flex justify-content-start align-items-center mb-4 py-2">

                                        <label class="form-check-label">Gender:&ensp;  </label>

                                        <div class="form-check form-check-inline mb-0 me-4">
                                            <input class="form-check-input" type="radio" name="Gender" id="maleGender"
                                                   value="Male" />
                                            <label class="form-check-label" for="femaleGender">Male</label>
                                        </div>

                                        <div class="form-check form-check-inline mb-0 me-4">
                                            <input class="form-check-input" type="radio" name="Gender" id="femaleGender"
                                                   value="Female" />
                                            <label class="form-check-label" for="maleGender">Female</label>
                                        </div>

                                        <div class="form-check form-check-inline mb-0">
                                            <input class="form-check-input" type="radio" name="Gender" id="otherGender"
                                                   value="Other" />
                                            <label class="form-check-label" for="otherGender">Other</label>
                                        </div>
                                        <span class="text-danger">@Html.ValidationMessage("Gender")</span>
                                    </div>

                                    <div class="form-outline mb-4">
                                        <label class="form-label" for="form3Example8">NID:</label>
                                        <span class="text-danger">@Html.ValidationMessage("NID")</span>
                                        <input type="text" name="NID" value="@(Model!=null? Model.NID:"")" placeholder="3333 111 222" id="form3Example8" class="form-control" />
                                    </div>


                                    <div class="form-outline mb-4">
                                        <label class="form-label" for="form3Example8">Address:</label>
                                        <span class="text-danger">@Html.ValidationMessage("Address")</span>
                                        <input type="text" name="Address" value="@(Model!=null? Model.Address:"")" placeholder="Address" id="form3Example8" class="form-control" />
                                    </div>
                                    <div class="form-outline mb-4">
                                        <center>

                                            <input type="Submit" value="Continue" onclick="myFunction" class="btn btn-success ad-reg-button">
                                        </center>
                                    </div>
                                </form>

                                <p class="text-center text-muted mt-5 mb-0">
                                    Have already an account? <a href="@Url.Action("login_S","S_Admin")"><u>Login here</u></a>
                                </p>
                            </div>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

