<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>BePartner</title>
    @*@Styles.Render("~/Content/Site.css")*@

    <link href="~/admin_s_d/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <script src="~/admin_s_d/js/sb-admin-2.min.js"></script>
    <link href="~/admin_s_d/css/sb-admin-2.min.css" rel="stylesheet" />
</head>
<body>
    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
            <nav class="navbar navbar-expand navbar-light topbar mb-4 static-top shadow " style="background-color:black;">

                <!-- Sidebar Toggle (Topbar) -->

                <a class="sidebar-brand d-flex sa_align-items-center justify-content-center " href="@Url.Action("Index","Home")">

                    <img src="~/Img/page logo (2).png" asp-append-version="true" width="200" height="45" style="position:relative;">
                </a>

                <!-- Topbar Navbar -->
                <ul class="navbar-nav ml-auto">

                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Index","Home")">
                            <i class="fas fa-fw fa fa-home"></i>
                            <span>Home</span>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("About","Home")">
                            <i class="fas fa-fw fas fa fa-user"></i>
                            <span>About</span>
                        </a>
                    </li>


                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Blog","Home")">
                            <i class="fas fa-fw fas fa-blog"></i>
                            <span>Blog</span>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Contact","Home")">
                            <i class="fas fa-fw fas fa-phone"></i>
                            <span>Contact</span>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("#","#")">
                            <i class="fas fa-fw fas fa-users"></i>
                            <span>Become a Enterpreneur</span>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("InLogin","Investor")">
                            <span>Log In</span>
                        </a>
                   
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Registration","Investor")">
                            <input type="Submit" value="Join" class="btn btn-outline-success ad-reg-button-log">
                        </a>
                    </li>


                </ul>

            </nav>
            <!-- End of Topbar -->

            <div class="container body-content">
                @RenderBody()
                <hr />

            </div>
            <!-- End of Main Content -->
            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; @DateTime.Now.Year BePartner</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>
    </div>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

</body>
</html>
