
@{
    ViewBag.Title = "SignIn";
}

<h2>SignIn</h2>
<h2>Welcome Back !</h2>
<form action="" method="post">

    <label>Email:</label>
    <input type="email" name="Email" placeholder="Enter your full email address.." value="@(Model!=null? Model.Email:"")" class="form-control">
    @Html.ValidationMessage("Email")
    <br />
    <lebel> Password:</lebel>
    <input type="password" name="Password" class="form-control" value="@(Model!=null? Model.Password:"")">
    @Html.ValidationMessage("Password")
    <br />


    <input type="submit" value="Login" name="submit" class="btn btn-success in-login-button">




    <div class="text-center">
        <p> Not a member? <a href="@Url.Action("Registration","Employee")"> SignUp </a> </p>

    </div>


</form>



