
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Account Settings UI Design</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=yes" name="viewport">
    <!--<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">-->
    @*<link rel="stylesheet" type="text/css" href="@Url.Content("~Content/InProfileStyle.css")">*@
    @*@Styles.Render("~Content/InProfileStyle.css")*@

</head>
<body>
    <section class="profile-body">
        <div class="Inprofile-container">
            @*<h1 class="mb-5">My Account</h1>*@
            <div class=" shadow rounded-lg d-block d-sm-flex">
                <div class="profile-tab-nav border-right">
                    <div class="p-4">
                        <div class="img-circle text-center mb-3">
                            <img src="~/Img/11.jpg" alt="Image" class="shadow">

                        </div>
                        <h2 class="text-center">@(Model!=null? Model.FirstName:"") @(Model!=null? Model.LastName:"")</h2>
                        <a href="" class="edit-profile">Edit</a>
                    </div>
                    <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                        <a class="nav-link active" id="account-tab" data-toggle="pill" href="#account" role="tab" aria-controls="account" aria-selected="true">
                            <i class="fa fa-home text-center mr-1"></i>
                            Personal Information
                        </a>

                        <a class="nav-link" id="application-tab" data-toggle="pill" href="#application" role="tab" aria-controls="application" aria-selected="false">
                            <i class="fa fa-tv text-center mr-1"></i>
                            Professional Information
                        </a>
                        <a class="nav-link" id="security-tab" data-toggle="pill" href="#security" role="tab" aria-controls="security" aria-selected="false">
                            <i class="fa fa-user text-center mr-1"></i>
                            My Investments
                        </a>
                        <a class="nav-link" id="password-tab" data-toggle="pill" href="#password" role="tab" aria-controls="password" aria-selected="false">
                            <i class="fa fa-key text-center mr-1"></i>
                            Security
                        </a>
                        <a class="nav-link" id="notification-tab" data-toggle="pill" href="#notification" role="tab" aria-controls="notification" aria-selected="false">
                            <i class="fa fa-bell text-center mr-1"></i>
                            Notification
                        </a>
                    </div>
                </div>
                <div class="tab-content p-4 p-md-5" id="v-pills-tabContent">
                    <div class=" active tab-pane fade show " id="account" role="tabpanel" aria-labelledby="account-tab">
                        <h3 class="mb-4">Personal Information</h3>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>First Name</label>
                                    <input type="text" name="FirstName" disabled class="form-control" value="@(Model!=null? Model.FirstName:"")">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Last Name</label>
                                    <input type="text" disabled class="form-control" name="LastName" value="@(Model!=null? Model.LastName:"")">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Gender</label>
                                    <input type="text" disabled class="form-control" name="Gender" value="@(Model!=null? Model.Gender:"")">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Date-of-birth</label>
                                    <input type="text" disabled class="form-control" name="Dob" value="@(Model!=null? Model.Dob:"")">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Phone</label>
                                    <input type="text" disabled class="form-control" name="Phone" value="@(Model!=null? Model.Phone:"")">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Email</label>
                                    <input type="text" disabled class="form-control" name="Email" value="@(Model!=null? Model.In_Email:"")">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>National Identity Number</label>
                                    <input type="text" disabled class="form-control" value="@(Model!=null? Model.Nid:"")">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Permanent Address</label>
                                    <textarea class="form-control" disabled rows="4">@(Model!=null? Model.Address:"")</textarea>
                                </div>
                            </div>
                        </div>
                        <div>
                            <a href="@Url.Action("InEditPersonal","InHome")">Edit information</a>
                            <!-- <button class="btn btn-primary">Update</button>
                            <button class="btn btn-light">Cancel</button> -->
                        </div>
                    </div>
                    <div class="tab-pane fade" id="password" role="tabpanel" aria-labelledby="password-tab">
                        <h3 class="mb-4">Security</h3>
                        <div class="row">



                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Password</label>
                                    <input type="password" id="passShow" name="Password" disabled value="@(Model!=null? Model.Password:"")" class="form-control">
                                    <input type="checkbox" onclick="showPass()" name="pwd"> Show Password
                                </div>
                            </div>
                            @*<div class="col-md-12">
                                    <div class="form-group">
                                        <label>New password</label>
                                        <input type="password" class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Confirm new password</label>
                                        <input type="password" class="form-control">
                                    </div>
                                </div>*@
                        </div>

                        <div>
                            <a href="@Url.Action("InEditPass","InHome")">Edit information</a>
                            @*<button class="btn btn-primary">Update</button>
                                <button class="btn btn-light">Cancel</button>*@
                        </div>
                    </div>
                    <div class="tab-pane fade" id="security" role="tabpanel" aria-labelledby="security-tab">
                        <h3 class="mb-4">My Investment</h3>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Login</label>
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Two-factor auth</label>
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="recovery">
                                        <label class="form-check-label" for="recovery">
                                            Recovery
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div>
                            <a href="">Edit information</a>
                            <!-- <button class="btn btn-primary">Update</button>
                            <button class="btn btn-light">Cancel</button> -->
                        </div>
                    </div>
                    <div class="tab-pane fade" id="application" role="tabpanel" aria-labelledby="application-tab">
                        <h3 class="mb-4">Professional Information</h3>
                        <div class="row">

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Organization Name</label>
                                    <input type="text" disabled class="form-control" name="OrgName" value="@(Model!=null? Model.OrgName:"")">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Organization's Established date: </label>
                                    <input type="text" disabled class="form-control" name="OrgEstablished" value="@(Model!=null? Model.OrgEstablished:"")">
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Organization's Email: </label>
                                    <input type="text" disabled class="form-control" name="OrgEmail" value="@(Model!=null? Model.OrgEmail:"")">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Organization's Phone: </label>
                                    <input type="text" disabled class="form-control" name="OrgPhone" value="@(Model!=null? Model.OrgPhone:"")">
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Organization's License: </label>
                                    <input type="text" disabled class="form-control" name="OrgLicense" value="@(Model!=null? Model.OrgLicense:"")">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Tax Identification Number: </label>
                                    <input type="text" disabled class="form-control" name="Tin" value="@(Model!=null? Model.Tin:"")">
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Organization's Website: </label>
                                    <input type="text" disabled class="form-control" name="OrgSite" value="@(Model!=null? Model.OrgSite:"")">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Organization's Address: </label>
                                    <textarea class="form-control" disabled rows="4">@(Model!=null? Model.OrgLocation:"")</textarea>
                                </div>
                            </div>
                            @*<div class="col-md-6">
                                    <div class="form-group">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="" id="app-check">
                                            <label class="form-check-label" for="app-check">
                                                App check
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="" id="defaultCheck2">
                                            <label class="form-check-label" for="defaultCheck2">
                                                Lorem ipsum dolor sit.
                                            </label>
                                        </div>
                                    </div>
                                </div>*@
                        </div>
                        <div>
                            <a href="@Url.Action("InEditProfessional","InHome")">Edit information</a>
                            <!-- <button class="btn btn-primary">Update</button>
                            <button class="btn btn-light">Cancel</button> -->
                        </div>
                    </div>
                    <div class="tab-pane fade" id="notification" role="tabpanel" aria-labelledby="notification-tab">
                        <h3 class="mb-4">Notification Settings</h3>
                        <div class="form-group">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="notification1">
                                <label class="form-check-label" for="notification1">
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum accusantium accusamus, neque cupiditate quis
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="notification2">
                                <label class="form-check-label" for="notification2">
                                    hic nesciunt repellat perferendis voluptatum totam porro eligendi.
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="notification3">
                                <label class="form-check-label" for="notification3">
                                    commodi fugiat molestiae tempora corporis. Sed dignissimos suscipit
                                </label>
                            </div>
                        </div>
                        <div>
                            <a href="">Edit information</a>
                            <!-- <button class="btn btn-primary">Update</button>
                            <button class="btn btn-light">Cancel</button> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <h2>@ViewBag.Message</h2>

    @Scripts.Render("~/Content/InValid.js")
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>