
@{
    ViewBag.Title = "AD_Settings";
}
@{
    Layout = "~/Views/AD_Home/_AD_Layout.cshtml";
}
<div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex sa_align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Settings</h1>
    </div>


    <div class="card shadow mb-4">

        <div class="card-header py-3 d-sm-flex sa_align-items-center mb-4 justify-content-between ">

            <img src="~/Img/Reset_password.png" width="30%" height="30%">

            <div class="card-body">
                <div class="table-responsive">

                    <div class="card-body p-md-5 text-black">
                        <form action="" method="post">
                            <h3 style="color:black;">Reset Password</h3>
                            <div class="form-outline mb-4">
                                <label class="form-label" for="form3Example8">Old Password:</label>
                                <span class="text-danger">@Html.ValidationMessage("Old_Password")</span>
                                <input type="password" name="Old_Password" value="@(Model!=null? Model.Old_Password:"")" placeholder="********" id="form3Example8" class="form-control" />
                            </div>
                            <div class="form-outline mb-4">
                                <label class="form-label" for="form3Example8">Password:</label>
                                <span class="text-danger">@Html.ValidationMessage("Password")</span>
                                <input type="password" name="Password" value="@(Model!=null? Model.Password:"")" placeholder="Password" id="form3Example8" class="form-control" />
                            </div>

                            <div class="form-outline mb-4">
                                <label class="form-label" for="form3Example8">Confirm Password:</label>
                                <span class="text-danger">@Html.ValidationMessage("ConfirmPassword")</span>
                                <input type="password" name="ConfirmPassword" value="@(Model!=null? Model.ConfirmPassword:"")" placeholder="Confirm Password" id="form3Example8" class="form-control" />
                            </div>

                            <input type="Submit" value="Change Password" class="btn btn-success ad-reg-button ">

                        </form>
                        <br />
                        <center><h5 class="text-success">@ViewBag.APM_G</h5></center>
                        <center><h5 class="text-danger">@ViewBag.APM_R</h5></center>
                    </div>

                </div>

            </div>

        </div>

    </div>
</div>

