
@{
    ViewBag.Title = "All_Admin";
}
@{
    Layout = "~/Views/AD_Home/_AD_Layout.cshtml";
}
<div class="d-sm-flex justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Admin</h1>
    <form class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
        <div class="input-group">
            <input type="text" class="form-control bg-light border-0 small" placeholder="Search Admins..."
                   aria-label="Search" aria-describedby="basic-addon2">
            <div class="input-group-append">
                <button class="btn btn-primary" type="button">
                    <i class="fas fa-search fa-sm"></i>
                </button>
            </div>
        </div>
    </form>
</div>


<div class="card shadow mb-4">
    <div class="card-header py-3 d-sm-flex sa_align-items-center mb-4 justify-content-between ">

        <h6 class="m-0 font-weight-bold text-primary">Admin list</h6>

        <form action="/AD_Home/Export_all_Active_admin" method="post">

            <input type="submit" value="Download" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm" />
            
        </form>

    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Email</th>
                        <th>Phone</th>
                        <th>NID</th>
                        <th>Security key</th>
                        <th>Gender</th>
                        <th>Address</th>
                    </tr>
                </thead>

                <tbody>
                    @foreach (var AD in Model)
                    {
                        <tr>
                            <td>@AD.FirstName</td>
                            <td>@AD.LastName</td>
                            <td>@AD.Ad_Email</td>
                            <td>@AD.Phone</td>
                            <td>@AD.Nid</td>
                            <td>@AD.Security_key</td>
                            <td>@AD.Gender</td>
                            <td>@AD.Address</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

