
@{
    ViewBag.Title = "All_Entrepreneur";
}
@{
    Layout = "~/Views/AD_Home/_AD_Layout.cshtml";
}
<div class="d-sm-flex sa_align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Entrepreneur</h1>

    <form class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
        <div class="input-group">
            <input type="text" class="form-control bg-light border-0 small" placeholder="Search Entrepreneurs..."
                   aria-label="Search" aria-describedby="basic-addon2">
            <div class="input-group-append">
                <button class="btn btn-primary" type="button">
                    <i class="fas fa-search fa-sm"></i>
                </button>
            </div>
        </div>
    </form>
</div>


<div class="card shadow mb-4">
    <div class="card-header py-3 d-sm-flex sa_align-items-center mb-4 justify-content-between ">

        <h6 class="m-0 font-weight-bold text-primary">Entrepreneur list</h6>

        <form action="/AD_Home/Export_all_valid_Enterpreneurs" method="post">

            <input type="submit" value="Download" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm" />

        </form>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Email</th>
                        <th>Phone</th>
                        <th>NID</th>
                        <th>Occupation</th>
                        <th>Gender</th>
                        <th>Address</th>
                        <th>Account Status</th>
                    </tr>
                </thead>

                <tbody>
                    @foreach (var EN in Model)
                    {
                        <tr>
                            <td>@EN.FirstName</td>
                            <td>@EN.LastName</td>
                            <td>@EN.En_Email</td>
                            <td>@EN.Phone</td>
                            <td>@EN.Nid</td>
                            <td>@EN.Occupation</td>
                            <td>@EN.Gender</td>
                            <td>@EN.Address</td>
                            <td>
                                <a class="btn btn-warning" href="@Url.Action("EntrepreneursInvalid","AD_Home",new {id = @EN.Nid})">Deactive</a>

                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>


