<link href="~/Content/em_style.css" rel="stylesheet" />
@{
    Layout = "~/Views/Employee/EM_layout.cshtml";
}

<div class="row">
    <!--Left side-->
    <div class="column1">



        <a class="nav-link" href="@Url.Action("Index","J_Employee")">
            <!--<i class="fas fa-fw fa-tachometer-alt"></i>-->
            <span class="buttonAD">Dashboard</span>
        </a>
        <br />
        <br />

        <a class="nav-link" href="@Url.Action("AccountInformation","J_Employee")">
            <!--<i class="fas fa-fw fa-tachometer-alt"></i>-->
            <span class="buttonAD">Account Information</span>
        </a>
        <br />
        <br />

        <a class="nav-link" href="@Url.Action("EmployeeInformation","J_Employee")">
            <!--<i class="fas fa-fw fa-tachometer-alt"></i>-->
            <span class="buttonAD">Employee Information</span>
        </a>
        <br />
        <br />

        <a class="nav-link" href="@Url.Action("InvestorInformation","J_Employee")">
            <!--<i class="fas fa-fw fa-tachometer-alt"></i>-->
            <span class="buttonAD">Investor Information</span>
        </a>
        <br />
        <br />

        <a class="nav-link" href="@Url.Action("EnterprenurInformation","J_Employee")">
            <!--<i class="fas fa-fw fa-tachometer-alt"></i>-->
            <span class="buttonAD">Enterprenrur Information</span>
        </a>
        <br />
        <br />

        <a class="nav-link" href="@Url.Action("TaskInformation","J_Employee")">
            <!--<i class="fas fa-fw fa-tachometer-alt"></i>-->
            <span class="buttonAD">Task Information</span>
        </a>
        <br />
        <br />

        <a class="nav-link" href="@Url.Action("Report","J_Employee")">
            <!--<i class="fas fa-fw fa-tachometer-alt"></i>-->
            <span class="buttonAD">Report</span>
        </a>
        <br />

    </div>

    <!--rigth side-->
    <div class="column2">
        <h2>Account Information</h2>
        <form action="" method="POST">
            <input type="text" name="searchdata">
            <input type="submit" class="search_buttons" name="search" value="Search">
            <br />

            <Center>
                <label>First Name:</label>
                <input type="text" name="FirstName" placeholder="Enter your frist name.." value="@(Model!=null? Model.FirstName:"")" class="form-control">
                @Html.ValidationMessage("FirstName")
                <br />
                <br />
                <label>Last Name:</label>
                <input type="text" name="LastName" placeholder="Enter your last name.." value="@(Model!=null? Model.LastName:"")" class="form-control">
                @Html.ValidationMessage("LastName")
                <br />
                <br />

                <label>Date of birth:</label>
                <input type="date" name="Dob" value="@(Model!=null? Model.Dob:"")" class="form-control">
                @Html.ValidationMessage("Dob")
                <br />
                <br />

                <label>Phone:</label>
                <input type="tel" name="Phone" placeholder="Enter your phone number.." value="@(Model!=null? Model.Phone:"")" class="form-control">
                @Html.ValidationMessage("Phone")
                <br />
                <br />

                <label>Email:</label>
                <input type="email" name="Email" placeholder="Enter your full email address.." value="@(Model!=null? Model.Email:"")" class="form-control">
                @Html.ValidationMessage("Email")
                <br />
                <br />

                <label>NID number:</label>
                <input type="text" name="Nid" placeholder="Enter your nid number.." value="@(Model!=null? Model.Nid:"")" class="form-control">
                @Html.ValidationMessage("Nid")
                <br />
                <br />

                <label>Parmanent Address:</label>
<textarea class="form-control" rows="5" name="Address" placeholder="Enter your full address.." value="@(Model!=null? Model.Address:"")"></textarea>
                @Html.ValidationMessage("Address")
                <br />
                <br />
                <lebel> Password:</lebel>
                <input type="password" name="Password" class="form-control" value="@(Model!=null? Model.Password:"")">
                @Html.ValidationMessage("Password")
                <br />
                <br />
                <lebel>Confrim Password:</lebel>
                <input type="password" name="ConfrimPassword" value="@(Model!=null? Model.ConfrimPassword:"")" class="form-control">
                @Html.ValidationMessage("ConfrimPassword")
                <br />
                <br />
                <Center>
                    <input type="Submit" class="btn btn-success">
                    <input type="Reset" class="btn btn-success">
                    <br />
                    <h2>Delete Account*</h2>
                    <h4>Onec you delete your account,there is no going back.Please be certain</h4>
                    <input type="submit" class="btn btn-success" name="search" value="Delete">
                </Center>

        </form>
    </div>
</div>





